body {
  margin: 0;
  padding: 40px;
  background-color: #e9cff5;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  flex: 0 1 calc(25% - 30px);
  height: 200px;
  background-color: #8e44ad;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Kvadrat elementlar */
.item {
  width: 30px;
  height: 30px;
  background-color: orange;
  border-radius: 4px;
}

/* ------------------------- */
/* Har bir cardning joylashuvi */
.card1 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.card2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.card3 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.card4 {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0;
}

.card5 {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 10px;
}

.card6 {
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}

.card7 {
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.card8 {
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.card9 {
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.card10 {
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.card11 {
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}